<% if logged_in? and current_user.is_in_role?(:Admin) %>
<h1>New poll_question</h1>

<% form_for(@poll_question) do |f| %>
  <%= f.error_messages %>
	<input type="hidden" name="poll_question[user_id]" id="poll_question_user_id" value="<%= session[:user_id] %>"/>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label 'check to make poll active' %>
    
    <%= f.check_box :active %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', {:controller => 'poll', :action => 'index'} %>
<% else %>
WTF go away.
<% end %>