<% if logged_in? and current_user.is_in_role?(:Admin) %>
<h1>Editing Poll Answer</h1>

<% form_for(@poll_answer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<br />
<%= link_to 'Back', {:controller => 'poll', :action => 'index'} %>
<% else %>
You can't be here.
<% end%>