<h1>Editing post</h1>
<%= error_messages_for :post %>

<% form_for([:admin, @post]) do |f| %>
<%= f.error_messages %>
<p>
    <%= f.label :title %>
    <br/>
    <%= f.text_field :title %>
</p>
<p>
    <%= f.label :body %>
    <br/>
    <%= f.text_area :body, :rows => 10 %>
</p>
<p>
    <%= f.label 'check to make post public' %>
    
    <%= f.check_box :public_flag %>
</p>
<p>
    <%= f.submit "Update" %>
</p>
<% end %>
<%= link_to 'Show', [:admin, @post] %> | <%= link_to 'Back', admin_post_path %>
